CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

pytorch
pytorch-install
pytorch-build
libtorch

.DS_Store
build/**/*
*.jpg
*.npy
*.a
*.pt
*.onnx
